__pycache__/
build/
dist/
*.egg-info/
dataset/
*.swp
*.vscode
*.DS_Store
*.pt
*.so
*trial*
*.ipynb
*.sh
*analyze*
*random.py
*RELEASE_*
*.csv.gz
*.zip
*submission_
*.npz
*.npy
*.log
*.sh
*.csv
*.json
**/convert.py
**/.log
**/.sh
**/.csv
**/.json
!**/out-gcn-virtual.json
!**/out-GraphGA-False.json
**/checkpoint
**/events.out.*
**/cached*
**/test*
**/logs/**
**/lightning_logs/**
**/data_*/**